/* Global fonts and styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}

code {
	white-space: pre-wrap;
}

code a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--font-color);
	margin-bottom: var(--space-md);
	margin-top: var(--space-sm);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

h4, h5 {
	color: var(--sub-heading-color);
	margin: 0;
}

a {
	color: var(--font-color);
}

button {
	cursor: pointer;
	border: none;
	padding: var(--space-xs) var(--space-sm);
	border-radius: 3px;
	white-space: nowrap;
}

button:hover {
	background-color: var(--dark-heading-color);
	color: white;
}

li {
	list-style: none;
	line-height: 1.4;
	margin-bottom: var(--space-sm);
}

/* Structural classes */
.container {
	background-color: var(--bg-color);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

.container__heading {
	width: 100%;
	max-width: 1200px;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: var(--space-lg);
	margin-bottom: var(--space-xxl);
}

.container__heading i {
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
}

.container__heading h1 {
	margin: 0;
	word-break: break-all;
}

.container__content {
	width: 100%;
	background-color: var(--code-bg-color);
	display: flex;
	justify-content: center;
	flex-grow: 2;
}

/* Enhancements */
.margin-top {
	margin-top: var(--space-md);
}

.margin-top-lg {
	margin-top: var(--space-lg);
}

.margin-top-xl {
	margin-top: var(--space-xl);
}
