#dark-mode-checkbox {
	display: none;
}

#dark-mode-checkbox ~ .container {
	/* Set light mode variables */
	--primary-color: var(--light-primary-color);
	--secondary-color: var(--light-secondary-color);
	--font-color: var(--light-font-color);
	--bg-color: var(--light-bg-color);
	--code-bg-color: var(--light-code-bg-color);
	--heading-color: var(--light-heading-color);
	--sub-heading-color: var(--light-sub-heading-color);
	--black: var(--light-black);
}

#dark-mode-checkbox:checked ~ .container {
	/* Set dark mode variables */
	--primary-color: var(--dark-primary-color);
	--secondary-color: var(--dark-secondary-color);
	--font-color: var(--dark-font-color);
	--bg-color: var(--dark-bg-color);
	--code-bg-color: var(--dark-code-bg-color);
	--heading-color: var(--dark-heading-color);
	--sub-heading-color: var(--dark-sub-heading-color);
	--black: var(--dark-black);
}

/* Styling toggle */
.theme-switch {
	display: flex;
	align-items: center;

	/* 
		Put the switch in the bottom of the screen
		so it doesn't cover the heading	
	*/
	position: fixed;
	bottom: var(--space-lg);
	right: var(--space-lg);
}

.theme-switch:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-color: var(--bg-color);
	border-radius: 100px;
}

/* Put the switch back in the header */
@media (min-width: 768px) {
	.theme-switch {
		position: static;
	}
	.theme-switch:before {
		content: initial;
	}
}

.theme-switch > label {
	display: inline-block;
	height: 22px;
	position: relative;
	width: 22px;
}

.theme-switch__slider {
	background-color: var(--black);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotateZ(-225deg);
	transition: 0.3s;
}

.theme-switch__slider:before {
	background-color: #fff;
	bottom: 2px;
	content: '';
	height: 18px;
	left: 2px;
	position: absolute;
	transition: 0.3s;
	width: 18px;
}

#dark-mode-checkbox:checked ~ .container .theme-switch__slider {
	background-color: var(--font-color);
	transform: rotateZ(-45deg);
}

#dark-mode-checkbox:checked ~ .container .theme-switch__slider:before {
	background-color: var(--bg-color);
	transform: translateX(10px);
}

.theme-switch__slider {
	border-radius: 34px;
}

.theme-switch__slider:before {
	border-radius: 50%;
}

#dark-mode-checkbox:checked ~ .container .theme-switch__slider .sun-ray-1,
#dark-mode-checkbox:checked ~ .container .theme-switch__slider .sun-ray-2 {
	transform: scale(0.1, 0.1);
	opacity: 0;
}

.sun-ray-1,
.sun-ray-2 {
	transition: 0.2s all;
}

.sun-ray-1:before,
.sun-ray-1:after {
	content: '';
	position: absolute;
	top: 10px;
	height: 2px;
	width: 4px;
	background-color: var(--black);
}

.sun-ray-1:before {
	left: -8px;
}

.sun-ray-1:after {
	right: -8px;
}

.sun-ray-2:before,
.sun-ray-2:after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 2px;
	background-color: var(--black);
}

.sun-ray-2:before {
	top: -8px;
}

.sun-ray-2:after {
	top: 26px;
}
