/* Variables */
/* Color profile: https://coolors.co/f7fff7-343434-2f3061-ffe66d-6ca6c1 */
:root {
	/* Light-mode colors */
	--light-primary-color: #FFE66D;
	--light-font-color: #141633;
	--light-bg-color: #6CA6C1;
	--light-code-bg-color: #F7FFF7;
	--light-heading-color: #000000;
	--light-sub-heading-color: #00364F90;
	--light-black: #333333ff;

	/* Dark-mode colors */
	--dark-black: #000000ff;
	--dark-primary-color: #FFE66D;
	--dark-tertiary-color: #a5e1ad;
	--dark-font-color: #F7FFF7;
	--dark-bg-color: #272932;
	--dark-code-bg-color: #2F3061;
	--dark-heading-color: #818cab;
	--dark-sub-heading-color: #ccc;

	/* Color variables */
	--primary-color: var(--light-primary-color);
	--font-color: var(--light-font-color);
	--bg-color: var(--light-bg-color);
	--code-bg-color: var(--light-code-bg-color);
	--heading-color: var(--light-heading-color);
	--sub-heading-color: var(--light-sub-heading-color);
	--black: var(--light-black);

	/* Space */
	--space-xs: 4px;
	--space-sm: 8px;
	--space-md: 16px;
	--space-lg: 32px;
	--space-xl: 64px;
	--space-xxl: 128px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: var(--dark-primary-color);
		--font-color: var(--dark-font-color);
		--bg-color: var(--dark-bg-color);
		--code-bg-color: var(--dark-code-bg-color);
		--heading-color: var(--dark-heading-color);
		--sub-heading-color: var(--dark-sub-heading-color);
		--black: var(--dark-black);
	}
}
